127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ hostvars['node1.192.168.122.21.nip.io']['ansible_eth0'].ipv4.address }} {{ hostvars['node1.192.168.122.21.nip.io'].ansible_fqdn }} {{ hostvars['node1.192.168.122.21.nip.io'].ansible_hostname }}
{{ hostvars['node2.192.168.122.22.nip.io']['ansible_eth0'].ipv4.address }} {{ hostvars['node2.192.168.122.22.nip.io'].ansible_fqdn }} {{ hostvars['node2.192.168.122.22.nip.io'].ansible_hostname }}
{{ hostvars['node3.192.168.122.23.nip.io']['ansible_eth0'].ipv4.address }} {{ hostvars['node3.192.168.122.23.nip.io'].ansible_fqdn }} {{ hostvars['node3.192.168.122.23.nip.io'].ansible_hostname }}
{{ hostvars['node4.192.168.122.24.nip.io']['ansible_eth0'].ipv4.address }} {{ hostvars['node4.192.168.122.24.nip.io'].ansible_fqdn }} {{ hostvars['node4.192.168.122.24.nip.io'].ansible_hostname }}
{{ hostvars['node5.192.168.122.25.nip.io']['ansible_eth0'].ipv4.address }} {{ hostvars['node5.192.168.122.25.nip.io'].ansible_fqdn }} {{ hostvars['node5.192.168.122.25.nip.io'].ansible_hostname }}

